div {
  display: inline-block;
  border: 1px solid lightgray;
  padding: 8px 20px 30px;
  margin-top: 10px;
  margin-left: 20px;
  vertical-align: top;
}
h2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  border-bottom: 2px solid green;
}
p {
  width: 250px;
  padding-bottom: 10px;
}
span {
  border: 1px solid darkgreen;
  background-color: rgba(144, 238, 144, 0.568);
  padding: 2px 10px;
}
