h1 {
  color: red;
}
#heading_2 {
  color: blue;
}
.card > p {
  color: indigo;
}
.nested {
  color: orange;
}
#underline {
  color: green;

  background-color: lightgoldenrodyellow;
}
.heading_2 {
  color: red;
}
.underline_2 {
  color: orange;
  background-color: lightgoldenrodyellow;
}

.fav {
  color: rgb(22, 124, 165);
}
.line {
  background-color: lightgray;
  height: 20px;
}
