* {
  margin: 0;
  padding: 0;
}

body {
  color: #d3d0c3;
  background-color: #1b3a2f;
  font-family: "Roboto", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6a4e3c;
  padding: 15px 35px;
  color: #d8c15c;
}

.nav-links {
  display: flex;
  list-style: none;
  font-size: 20px;
  gap: 55px;
}

.nav-links li {
  cursor: pointer;
}

.section_1 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.container {
  width: 42%;
  padding: 20px;
}

.container img {
  width: 100%;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 40px;
}

.content h2 {
  font-size: 48px;
  color: #d8c15c;
}

.content p {
  font-size: 18px;
}

.btn_explore {
  width: 100px;
  padding: 18px 30px;
  border-radius: 10px;
  color: #d8c15c;
  background-color: #6a4e3c;
  border: 1px solid #d8c15c;
  font-weight: bold;
  cursor: pointer;
}

.btn_explore:hover {
  background-color: #d8c15c;
  color: #6a4e3c;
  border: 1px solid #6a4e3c;
}

.section_2 h1 {
  text-align: center;
  text-transform: uppercase;
  margin: 70px 0 50px 0;
  color: #d8c15c;
  font-size: 48px;
}

.cards_container {
  margin: 0 auto;
  width: 90%;
  padding: 30px 15px;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cards {
  display: flex;
  width: 340px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 20px;
  border-radius: 10px;
  background-color: #f2e1c1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.cards img {
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.cards h3 {
  font-size: 28px;
  color: #4c8c4a;
}

.cards p {
  font-size: 18px;
  color: #4c4c4c;
}

.btn_learn {
  padding: 18px 30px;
  border-radius: 10px;
  color: #6a4e3c;
  background-color: #d8c15c;
  border: 1px solid #6a4e3c;
  font-weight: bold;
  cursor: pointer;
}

.btn_learn:hover {
  background-color: #6a4e3c;
  color: #d8c15c;
  border: 1px solid #d8c15c;
}
