* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --primary-color: #4caf50;
  --text-color: #f1f1f1;
  --para-color: #333;
  --bg-color: #000;
  --h1-font: 2.5rem;
  --h2-font: 1.5rem;
  --p-font: 1rem;
}
body {
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}
a {
  color: var(--text-color);
  font-size: 20px;
  font-weight: 500;
  transition: color 0.3s ease;
}
header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 20px 80px;
}
header h1 {
  font-size: var(--h1-font);
}
header h1 span {
  color: var(--primary-color);
}
nav ul {
  display: flex;
  gap: 60px;
}
nav ul li a:hover {
  color: var(--primary-color);
  padding-bottom: 5px;
  border-bottom: 2px solid var(--primary-color);
}
.follow {
  font-size: var(--p-font);
}
.social-icons {
  font-size: var(--h2-font);
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all 0.5s ease;
}
.social-icons a:hover {
  color: var(--primary-color);
  transform: translateY(-3px);
}
